body{
    display: flex;
    flex: 1;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.divClock {
    width: 70vh;
    height: 70vh;
    background-color: rgb(250, 250, 250);
    padding: 3vh;
    border-radius: 100%;
    background: #f0f3f5;
    box-shadow:  16px 16px 87px #c2c5c6, 
                 -16px -16px 87px #ffffff;
    
}
.clock {
    width: 100%;
    height: 100%;
    background-image: url("../Img/radiantclock.png");
    background-position: center;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aiguilleH{
    width: 2vh;
    height: 20vh;
    background-color: #003263;
    transform: translateY(-10vh) rotate(90deg);
    position: absolute;
    border-radius: 10vh;
    transform-origin: bottom;
}
.aiguilleMin{
    width: 1.3vh;
    height: 28vh;
    background-color: #0154A4;
    transform: translateY(-14vh) rotate(90deg);
    position: absolute;
    border-radius: 10vh;
    transform-origin: bottom;
}
.aiguilleSec{
    width: 0.8vh;
    height: 30vh;
    background-color: #D90429;
    transform: translateY(-15vh) rotate(90deg);
    position: absolute;
    border-radius: 10vh;
    transform-origin: bottom;
}
.dot{
    width: 4vh;
    height: 4vh;
    background-color: #3d3d3d;
    border-radius: 100%;
    z-index: 1;
}